
<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
 <!--<strong>Categorias:</strong>
  <%= @product.categories.map{|p| p.name}.to_sentence  %>
</p>-->


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
